---
import Surface from "./Surface.astro";

interface Props {
  class?: string;
  inputClass?: string;
  inputPart?: string;
  btnClass?: string;
  btnPart?: string;
}

const {
  class: extraClass = "",
  inputClass = "",
  inputPart = "",
  btnClass = "",
  btnPart = "",
  ...rest
} = Astro.props;
---

<div class="app-input__wrap h-center">
  <div class:list={["app-input__layout row p-1 g-0", extraClass]} {...rest}>
    <Surface
      class="app-input__field"
      depth="var(--input-depth)"
      color="var(--input-color)"
    >
      <input part={inputPart} />
    </Surface>

    <Surface
      class="app-input__button"
      dynamic
      depth="var(--input-depth)"
      color="var(--input-color)"
    >
      <button part={btnPart}></button>
    </Surface>
  </div>
</div>

<style>
  .app-input__field {
    width: 75%;
  }

  .app-input__button {
    width: calc(25% + var(--input-depth));
    margin-left: calc(-1 * var(--input-depth));
  }
</style>
