---
import Button from "../primitives/Button.astro";
import I18NText from "./I18nText.astro";
---

<btn-dialog>
  <Button data-part="app-dialog-button">
    <slot name="button" />
  </Button>

  <dialog class="app-dialog" data-part="app-dialog">
    <div class="row h-center" data-part="app-dialog-page">
      <slot name="page" />
    </div>
  </dialog>

  <script>
    import { PartedElement } from "@/runtime/dom/parted-element";

    class BtnDialog extends PartedElement {
      private button!: HTMLButtonElement;
      private dialog!: HTMLDialogElement;
      private page!: HTMLElement;

      connectedCallback() {
        this.button = this.pt<HTMLButtonElement>("app-dialog-button");
        this.dialog = this.pt<HTMLDialogElement>("app-dialog");
        this.page = this.pt<HTMLElement>("app-dialog-page");

        this.button.onclick = async () => {
          this.dialog.showModal();
        };

        this.dialog.addEventListener("close", () => {
          console.log("resetting...");
          this.reset();
        });
      }

      disconnectedCallback() {}

      private reset() {
        Array.from(this.page.children).forEach((el) => {
          const resettable = el as any;
          if (typeof resettable.reset === "function") {
            resettable.reset();
          }
        });
      }
    }

    customElements.define("btn-dialog", BtnDialog);
  </script>

  <style>
    .app-dialog {
      background: transparent;
      border: none;
      width: 100%;
      padding: 0;
    }

    .app-dialog::backdrop {
      background: rgba(255, 255, 255, 0.5);
    }
  </style>
</btn-dialog>
