---
import Surface from "./Surface.astro";

interface Props {
  class?: string;
  styles?: string;
}
const { class: _class, styles: _styles, ...rest } = Astro.props;
---

<Surface depth="var(--button-depth)" color="var(--button-color)" dynamic>
  <button class="ui-reset-button noselect w-100 h-100 text-center text-md p-2" {...rest}>
    <slot />
  </button>
</Surface>
