---
import Surface from "./Surface.astro";

interface Props {
  class?: string;
  styles?: string;
}

const { class: _, styles: __, ...rest } = Astro.props;
---

<Surface depth="var(--button-depth)" color="var(--button-color)" dynamic>
  <button class="ui-reset-button noselect text-center text-md p-2" {...rest}>
    <slot />
  </button>
</Surface>
