---
import Surface from "./Surface.astro";
import HCenter from "./HCenter.astro";

interface Props {
  outClass?: string;
  "data-i18n-placeholder"?: string;
  "data-i18n"?: string;
  readonly?: boolean;
}

const {
  outClass = "",
  "data-i18n-placeholder": i18nPlaceholder,
  "data-i18n": i18nText,
  readonly = false,
  ...rest
} = Astro.props;
---

<input-group {...rest}>
  <HCenter class:list={["row g-0", outClass]}>
    <div class="group-input-wrap">
      <Surface depth="var(--input-depth)" color="var(--input-color)">
        <input
          type="text"
          class="ui-reset-input group-input text-md p-2"
          data-i18n-placeholder={i18nPlaceholder}
          data-part="input"
          readonly={readonly}
        />
      </Surface>
    </div>

    <div class="group-btn-wrap">
      <Surface depth="var(--input-depth)" color="var(--input-color)" dynamic>
        <button
          class="ui-reset-button noselect group-btn text-md p-2"
          data-i18n={i18nText}
          data-part="button"></button>
      </Surface>
    </div>
  </HCenter>
</input-group>

<script>
  import { type InputGroupElement, type OnClickFn } from "@/astro/components/types/InputGroup";

  class InputGroup extends HTMLElement implements InputGroupElement {
    private btnEl: HTMLButtonElement | null = null;
    private inputEl: HTMLInputElement | null = null;
    private onClickFn?: OnClickFn;

    setValue(val: string) {
      if (this.inputEl) {
        this.inputEl.value = val;
      }
    }

    getValue(): string {
      return this.inputEl?.value ?? "";
    }

    onClick(fn: OnClickFn): void {
      this.onClickFn = fn;
    }

    connectedCallback() {
      this.inputEl = this.querySelector<HTMLInputElement>(`[data-part="input"]`);
      this.btnEl = this.querySelector<HTMLButtonElement>(`[data-part="button"]`);
      if (!this.inputEl || !this.btnEl) return;

      this.btnEl.addEventListener("click", async (e: Event) => {
        if (this.inputEl && this.onClickFn) {
          e.preventDefault();
          await this.onClickFn(this.inputEl.value);
        }
      });
      this.inputEl.addEventListener("keydown", async (e: KeyboardEvent) => {
        if (this.inputEl && this.onClickFn && e.key === "Enter") {
          e.preventDefault();
          await this.onClickFn(this.inputEl.value);
        }
      });
    }

    disconnectedCallback() {}
  }

  customElements.define("input-group", InputGroup);
</script>

<style>
  .group-input-wrap {
    width: 75%;
  }
  .group-btn-wrap {
    width: calc(25% + var(--input-depth));
    margin-left: calc(-1 * var(--input-depth));
  }

  .group-input {
    width: 100%;
  }

  .group-btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
</style>
