---
import Surface from "./Surface.astro";
import I18NText from "./I18nText.astro";

const { inputProps = {}, buttonProps = {}, ...rest } = Astro.props;

const { class: _ic, style: _is, "data-part": _dpInput, ...safeInputProps } = inputProps;

const { class: _bc, style: _bs, "data-part": _dpButton, ...safeButtonProps } = buttonProps;
---

<input-group class="row g-0" {...rest}>
  <div class="group-input-wrap">
    <Surface depth="var(--input-depth)" color="var(--input-color)">
      <input
        data-part="input"
        type="text"
        class="ui-reset-input group-input text-md p-2"
        {...safeInputProps}
      />
    </Surface>
  </div>

  <div class="group-btn-wrap">
    <Surface depth="var(--input-depth)" color="var(--input-color)" dynamic>
      <button
        data-part="button"
        class="ui-reset-button noselect group-btn text-md p-2"
        {...safeButtonProps}></button>
    </Surface>
  </div>
</input-group>

<script>
  import { type InputGroupElement, type OnClickFn } from "@/astro/components/types/InputGroup";
  import { PartedElement } from "@/runtime/dom/parted-element";

  class InputGroup extends PartedElement implements InputGroupElement {
    private inputEl!: HTMLInputElement;
    private onClickFn?: OnClickFn;

    setValue(val: string) {
      this.inputEl.value = val;
    }

    getValue(): string {
      return this.inputEl.value;
    }

    onClick(fn: OnClickFn): void {
      this.onClickFn = fn;
    }

    connectedCallback() {
      this.inputEl = this.pt<HTMLInputElement>("input");
      this.inputEl.addEventListener("keydown", async (e: KeyboardEvent) => {
        if (e.key === "Enter") {
          e.preventDefault();
          await this.onClickFn?.(this.inputEl.value);
        }
      });

      const btnEl = this.pt<HTMLButtonElement>("button");
      btnEl.addEventListener("click", async (e: Event) => {
        e.preventDefault();
        await this.onClickFn?.(this.inputEl.value);
      });
    }

    disconnectedCallback() {}
  }

  customElements.define("input-group", InputGroup);
</script>

<style>
  .group-input-wrap {
    width: 75%;
  }
  .group-btn-wrap {
    width: calc(25% + var(--input-depth));
    margin-left: calc(-1 * var(--input-depth));
  }

  .group-input {
    width: 100%;
  }

  .group-btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
</style>
