---

---

<div class="app-hv-center hv-center p-2">
  <slot />
</div>

<style>
  .app-hv-center {
    min-height: 100vh;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
</style>
