---
interface Props {
  class?: string;
}

const { class: extraClass = "" } = Astro.props;
---

<div class="app-hv-center hv-center p-2">
  <div class={extraClass}>
    <slot />
  </div>
</div>

<style>
  .app-hv-center {
    min-height: 100vh;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
</style>
