---
interface Props {
  class?: string;
}

const { class: extraClass = "", ...rest } = Astro.props;
---

<div
  class:list={["app-sm-width col-12 col-md-8 col-lg-6 col-xl-4", extraClass]}
  {...rest}
>
  <slot />
</div>
