---
import Surface from "./Surface.astro";
import HCenter from "./HCenter.astro";

interface Props {
  inClass?: string;
  outClass?: string;
}

const { inClass = "", outClass = "", ...rest } = Astro.props;
---

<HCenter class={outClass}>
  <Surface depth="var(--success-depth)" color="var(--success-color)">
    <div class:list={["h-center text-md p-2", inClass]} {...rest}>
      <slot />
    </div>
  </Surface>
</HCenter>
