Package: xray-nodeman
Version: VERSION_PLACEHOLDER
Architecture: ARCH_PLACEHOLDER
Maintainer: XRayMan 
Section: utils
Priority: optional
Description: XRayMan Node Manager service
 This package manages XRay nodes.
 Configuration file is located at /etc/xray-nodeman/xray-nodeman.env
 Configuration file example is located at /etc/xray-nodeman/xray-nodeman.env.example
 Configuration file exaple might be outdated.
 View actual config via application help : xray-nodeman -h
 After setup, reload systemctl           : sudo systemctl daemon-reload
 Start service                           : sudo systemctl enable --now xray-nodeman
 Or restart service                      : sudo systemctl restart xray-nodeman
 View logs                               : sudo journalctl -u xray-nodeman -n 50 -f
