[Unit]
Description=XRayMan Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=xray-node
Group=xray-node

StateDirectory=xray-node
ConfigurationDirectory=xray-node

EnvironmentFile=/etc/xray-node/xray-node.env

ExecStart=/usr/bin/xray-node/xray-node \
    --persistent-dir=$STATE_DIRECTORY
    --data-dir=./data
    --config-dir=$CONFIGURATION_DIRECTORY

Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
