---
import Info from "@xrayman/shared/astro/primitives/Info.astro";
import Input from "@xrayman/shared/astro/primitives/Input.astro";
import Card from "@xrayman/shared/astro/primitives/Card.astro";
import Title from "@xrayman/shared/astro/primitives/Title.astro";
import Button from "@xrayman/shared/astro/primitives/Button.astro";
import Tag from "@xrayman/shared/astro/primitives/Tag.astro";

import SuccessMsg from "@xrayman/shared/astro/primitives/SuccessMsg.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
---

<add-sub-header-page class="row w-100 g-0 justify-content-center">
  <Card class="col-6">
    <Title class="col-8">
      <I18NText data-i18n="add-sub-header.title" />
    </Title>

    <Info>
      <I18NText data-i18n="add-sub-header.request.key.info" />
    </Info>

    <Input data-part="key-input" data-i18n-placeholder="add-sub-header.request.key.placeholder" />

    <Info>
      <div class="d-inline-flex">
        <I18NText data-i18n="add-sub-header.request.value.info" />
      </div>
    </Info>

    <Input
      data-part="value-input"
      data-i18n-placeholder="add-sub-header.request.value.placeholder"
      class="mb-2"
    />
    <div data-part="placeholder-tags" class="d-flex flex-wrap gap-2 mb-2 h-center">
      <template data-part="placeholder-tag-tmpl">
        <div class="d-inline-flex">
          <Tag data-part="placeholder-tag">
            <span data-part="placeholder-tag-text"></span>
          </Tag>
        </div>
      </template>
    </div>

    <div class="row g-0 justify-content-center">
      <Button data-part="submit-input" class="col-8">
        <I18NText data-i18n="add-sub-header.submit-btn.info" />
      </Button>
    </div>

    <div data-part="success-result" hidden>
      <SuccessMsg class="col-8">
        <I18NText data-i18n="add-sub-header.response.info" />
      </SuccessMsg>
    </div>
  </Card>

  <script>
    import { newSubHeader } from "@/services/api/client";
    import { notifyApiError } from "@/runtime/notifications/use-notifications";
    import type { ResettableElement } from "@xrayman/shared/astro/types/Resettable";
    import { pt, PartedElement } from "@xrayman/shared/runtime/dom/parted-element";
    import { reloadSubHeaders } from "@/actions/sub-headers";
    import { config } from "@/config/config";

    class AddSubHeaderPage extends PartedElement implements ResettableElement {
      private keyInputEl!: HTMLInputElement;
      private valueInputEl!: HTMLInputElement;
      private inputSubmitEl!: HTMLButtonElement;
      private successResultEl!: HTMLElement;

      connectedCallback() {
        this.keyInputEl = this.pt<HTMLInputElement>("key-input");
        this.valueInputEl = this.pt<HTMLInputElement>("value-input");
        this.inputSubmitEl = this.pt<HTMLButtonElement>("submit-input");
        this.successResultEl = this.pt<HTMLElement>("success-result");
        this.setPlaceholderTags();

        this.inputSubmitEl.onclick = async () => {
          const key = this.keyInputEl.value;
          const value = this.valueInputEl.value;
          if (key.length == 0 || value.length == 0) {
            return;
          }

          // reset and hide
          this.successResultEl?.setAttribute("hidden", "true");

          const response = await newSubHeader(key, value);
          if (!response.ok) {
            notifyApiError("new_sub_header", response.reason);
            return;
          }
          reloadSubHeaders({ quiet: true });

          // show back
          this.successResultEl.removeAttribute("hidden");
        };
      }

      disconnectedCallback() {}

      setPlaceholderTags() {
        const tagTemplate = this.pt<HTMLTemplateElement>("placeholder-tag-tmpl");
        const tagsSection = this.pt<HTMLElement>("placeholder-tags");

        const frag = document.createDocumentFragment();
        const tags = config.sub_headers_placeholders;

        tags.forEach((tag) => {
          const fragment = tagTemplate.content.cloneNode(true) as HTMLElement;
          const btn = pt<HTMLButtonElement>(fragment, "placeholder-tag");
          const text = pt<HTMLSpanElement>(fragment, "placeholder-tag-text");
          text.innerHTML = tag;

          btn.addEventListener("click", () => this.addInputText(this.valueInputEl, tag));
          frag.appendChild(fragment);
        });

        tagsSection.replaceChildren(frag);
      }

      addInputText(input: HTMLInputElement, text: string) {
        const start = input.selectionStart ?? 0;
        const end = input.selectionEnd ?? 0;

        input.value = input.value.slice(0, start) + text + input.value.slice(end);
        const newPos = start + text.length;
        input.setSelectionRange(newPos, newPos);
      }

      reset() {
        this.keyInputEl.value = "";
        this.valueInputEl.value = "";
        this.successResultEl.hidden = true;
      }
    }

    customElements.define("add-sub-header-page", AddSubHeaderPage);
  </script>
</add-sub-header-page>
