---
import Title from "@xrayman/shared/astro/primitives/Title.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
import Card from "@xrayman/shared/astro/primitives/Card.astro";
import InputGroup from "@xrayman/shared/astro/primitives/InputGroup.astro";
---

<app-login-page>
  <dialog class="auth-dialog" data-part="auth-dialog">
    <div class="auth-dialog-overlay"></div>
    <div class="hv-center">
      <Card class="fluid-md">
        <Title class="mb-2">
          <I18NText data-i18n="login.title.authorize" />
        </Title>
        <InputGroup
          input-props={{
            "data-i18n-placeholder": "login.password.placeholder",
          }}
          button-props={{
            "data-i18n": "login.password.button",
          }}
          data-part="password-input"
        />
      </Card>
    </div>
  </dialog>
</app-login-page>

<script>
  import { type InputGroupElement } from "@xrayman/shared/astro/types/InputGroup";
  import { auth } from "@/services/api/client";
  import { notifyApiError } from "@/runtime/notifications/use-notifications";
  import { PartedElement } from "@xrayman/shared/runtime/dom/parted-element";
  import { authMan, loginRequiredEvent } from "@/services/api/auth-man";

  class LoginPage extends PartedElement {
    private pwdInputEl!: InputGroupElement;
    private dialogEl!: HTMLDialogElement;

    connectedCallback() {
      this.pwdInputEl = this.pt<InputGroupElement>("password-input");
      this.dialogEl = this.pt<HTMLDialogElement>("auth-dialog");

      // keep auth window till success
      this.pwdInputEl.onClick(async (pwd: string) => {
        if (pwd.length == 0) {
          return;
        }

        const response = await auth(pwd);
        if (!response.ok) {
          notifyApiError("auth", response.reason);
        } else {
          this.close();
          authMan.onLoginSuccess(response.data.access_token);
        }
      });

      // disable window closing
      this.dialogEl.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          e.preventDefault();
          e.stopPropagation();
        }
      });

      window.addEventListener(loginRequiredEvent, this.open);
    }

    disconnectedCallback() {}

    private open = () => {
      this.dialogEl.showModal();
    };

    private close() {
      this.dialogEl.close();
    }
  }

  customElements.define("app-login-page", LoginPage);
</script>

<style>
  .auth-dialog {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;
  }

  .auth-dialog::backdrop {
    background: transparent;
  }
  .auth-dialog-overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
  }
</style>
