---
import PageCenter from "@xrayman/shared/astro/primitives/PageCenter.astro";
import Title from "@xrayman/shared/astro/primitives/Title.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
import UsersTableCard from "./UsersTableCard.astro";
import NodesTableCard from "./NodesTableCard.astro";
import AuthDialog from "./AuthDialog.astro";
import SubHeadersTableCard from "./SubHeadersTableCard.astro";
---

<script>
  import { useRandomTheme } from "@/features/use-random-theme";
  useRandomTheme();
</script>

<AuthDialog />

<PageCenter class="fluid-lg">
  <Title class="mb-2">
    <I18NText data-i18n="title.main" />
  </Title>

  <div class="page-columns">
    <div class="page-column">
      <UsersTableCard />
    </div>
    <div class="page-column">
      <NodesTableCard />
      <SubHeadersTableCard />
    </div>
  </div>
</PageCenter>

<style>
  .page-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
    gap: 0.5rem;
    align-items: start;
  }
  .page-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
