---
import Title from "@xrayman/shared/astro/primitives/Title.astro";
import Card from "@xrayman/shared/astro/primitives/Card.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
import SubHeadersTable from "@/vue/components/islands/subheaders-table/SubHeadersTable.vue";
import AddSubHeaderDialog from "./AddSubHeaderDialog.astro";
---

<Card>
  <Title class="col-6 mb-2">
    <I18NText data-i18n="cards.sub-headers.title" />
  </Title>

  <SubHeadersTable client:only="vue" />

  <AddSubHeaderDialog />
</Card>
