---
import "bootstrap/dist/css/bootstrap.min.css";
import "notyf/notyf.min.css";
import "@xrayman/shared/styles/uireset.css";
import "@xrayman/shared/styles/tokens.css";
import "@xrayman/shared/styles/centering.css";
import "@xrayman/shared/styles/globals.css";
import "@xrayman/shared/styles/noselect.css";
import "@xrayman/shared/styles/typography.css";
---

<html>
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <title data-i18n="title.main"></title>

    <script src="@/runtime/init.ts"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
