# ╔══════════════════════════════════════════════════╗
# ║ container for xray-node, xray client and server  ║
# ║ configs should be provided in ./config dir       ║
# ║ (see ./config/example)                           ║
# ╚══════════════════════════════════════════════════╝

# Node server endpoint tcp port, like 5001
XRAY_NODE_ADMIN_PORT=

# Ports mapping for ports used by xray proxy inbounds
# like '443:443,8443:8443'
XRAY_NODE_PROXY_PORTS=

# [optional] Zap log level like 'info', 'warn'
# XRAY_NODE_LOG_LEVEL=
