---
import Surface from "./Surface.astro";

const { class: extraClass = "", id = "", part = "", ...rest } = Astro.props;
---

<div class:list={["app-button col-6 p-1 ", extraClass]} {...rest}>
  <Surface dynamic depth="var(--button-depth)" color="var(--button-color)">
    <button
      type="button"
      id={id}
      part={part}
      class="ui-reset-button noselect w-100 h-100 text-md p-2 d-flex align-items-center justify-content-center"
    >
      <slot />
    </button>
  </Surface>
</div>
