---
import Surface from "./Surface.astro";

const { class: extraClass = "", ...rest } = Astro.props;
---

<Surface
  depth="var(--card-depth)"
  color="var(--card-color)"
  class:list={["app-card", extraClass]}
  {...rest}
>
  <div class="p-2">
    <slot />
  </div>
</Surface>
