---
import Surface from "./Surface.astro";

const { class: extraClass = "", ...rest } = Astro.props;
---

<div
  class:list={["app-error d-flex justify-content-center", extraClass]}
  {...rest}
>
  <div class="col-8 col-md-10 col-lg-8">
    <Surface depth="var(--error-depth)" color="var(--error-color)">
      <div class="text-lg text-center noselect p-2">
        <slot />
      </div>
    </Surface>
  </div>
</div>
