---
const { class: extraClass = "", id = "", part = "", ...rest } = Astro.props;
---

<button
  type="button"
  id={id}
  part={part}
  class:list={[
    "ui-reset-button noselect w-100 text-md p-2 v-center h-center",
    extraClass,
  ]}
  {...rest}
>
  <slot />
</button>
