---
const {
  dynamic = false,
  depth = "0px",
  color = "white",
  class: extraClass = "",
  ...rest
} = Astro.props;

const styleVars = {
  ...(color && { "--surface-color": color }),
  ...(depth && { "--surface-depth": depth }),
};
---

<div
  class:list={["surface__wrap h-100", extraClass]}
  style={styleVars}
  {...rest}
>
  <div class:list={["surface h-100", { "surface--dynamic": dynamic }]}>
    <slot />
  </div>
</div>

<style>
  .surface {
    position: relative;
    z-index: 1;

    border-width: 1px;
    border-style: solid;
    border-color: color-mix(in srgb, var(--surface-color) 50%, black 50%);
    background-color: var(--surface-color);
    color: color-mix(in srgb, var(--surface-color) 25%, black 75%);
  }

  .surface__wrap {
    isolation: isolate;
    position: relative;

    padding-right: var(--surface-depth);
    padding-bottom: var(--surface-depth);
  }

  .surface__wrap::before {
    content: "";
    position: absolute;

    inset: 0;
    margin-left: var(--surface-depth);
    margin-top: var(--surface-depth);

    z-index: 0;

    background-color: color-mix(in srgb, var(--surface-color) 50%, black 50%);
  }

  .surface--dynamic {
    transition: transform 200ms ease;
  }

  @media (any-hover: hover) {
    .surface--dynamic:hover {
      background-color: color-mix(in srgb, var(--surface-color) 90%, black 10%);
      transform: translate(
        calc(var(--surface-depth) / 2),
        calc(var(--surface-depth) / 2)
      );
    }
  }

  .surface--dynamic:active {
    background-color: color-mix(in srgb, var(--surface-color) 75%, black 25%);
    transform: translate(var(--surface-depth), var(--surface-depth));
  }

  @media (prefers-reduced-motion: reduce) {
    .surface--dynamic {
      transition: none;
    }
  }

  :global(.surface input) {
    background-color: color-mix(in srgb, var(--surface-color) 25%, white 75%);
  }
</style>
