---
import Surface from "./Surface.astro";

const { class: extraClass = "", ...rest } = Astro.props;
---

<div class:list={["app-title h-center", extraClass]} {...rest}>
  <Surface
    depth="var(--title-depth)"
    color="var(--title-color)"
    class="col-10 col-lg-8"
  >
    <div class="text-lg text-center p-2">
      <slot />
    </div>
  </Surface>
</div>
