---
import Title from "../ui/Title.astro";
import NodesTable from "./nodesyncsTable.vue";
import Card from "../ui/Card.astro";
---

<div class="col-sm-12 col-lg-6">
  <Card>
    <Title class="mb-2">
      <span data-i18n="cards.nodes.title"></span>
    </Title>
    <NodesTable client:only="vue" />
  </Card>
</div>
