---
import "../styles/colors.css";
import "../styles/depths.css";
import "../styles/typography.css";
import "../styles/globals.css";
import "../styles/noselect.css";
import "../styles/centering.css";
import VueLayout from "./VueLayout.astro";
---

<html>
  <head>
    <script src="./config.js" is:inline></script>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/ant-design-reset.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />

    <title data-i18n="title.main"></title>
  </head>
  <body>
    <VueLayout>
      <slot />
    </VueLayout>
    <script>
      import { startI18nObserver } from "../lib/i18n";
      import { fixIOSActive } from "../lib/ios-active-fix";

      startI18nObserver();
      fixIOSActive();
    </script>
  </body>
</html>
