---
import Card from "../ui/Card.astro";
import Info from "../ui/Info.astro";
import ButtonsGroup from "../ui/ButtonsGroup.astro";
import Button from "../ui/Button.astro";
---

<open-app-card>
  <Card class="mb-2">
    <Info>
      <strong>3.</strong>
      <span data-i18n="runapp.info"></span>
    </Info>
    <ButtonsGroup>
      <Button part="run-app-btn">
        <span data-i18n="runapp.btn"></span>
      </Button>
    </ButtonsGroup>
    <Info>
      <strong>PS.</strong>
      <span data-i18n="runapp.ps"></span>
    </Info>
  </Card>
</open-app-card>

<script>
  import { UserUtils } from "../../lib/user-utils";
  import { config } from "../../config/config";
  import { stateSignal } from "../../lib/state-signals";

  class OpenAppCard extends HTMLElement {
    private unsub?: () => void;
    private openHappFn?: () => void;

    makeHappSubLink(subscriptionURL: string) {
      return `${config.HAPP_INTENT}${subscriptionURL}`;
    }

    connectedCallback() {
      const btnEl = this.querySelector<HTMLButtonElement>(
        '[part="run-app-btn"]',
      );
      if (!btnEl) return;

      this.unsub = stateSignal.subscribe((state) => {
        if (state.status !== "logged-in") {
          this.openHappFn = () => {};
          return;
        }
        const subscriptionURL = UserUtils.subscriptionURL(state.data);
        const happSubLink = this.makeHappSubLink(subscriptionURL);
        this.openHappFn = () => {
          window.open(happSubLink, "_blank", "noopener");
        };
      });

      btnEl.addEventListener("click", () => {
        this.openHappFn?.();
      });
    }

    disconnectedCallback() {
      this.unsub?.();
    }
  }

  customElements.define("open-app-card", OpenAppCard);
</script>
