---
import ErrorPage from "./ErrorPage.astro";

const errorImg = "./error.gif";
const errorColor = "white";
---

<server-error>
  <ErrorPage src={errorImg} color={errorColor}>
    <div data-i18n="servererror.main"></div>
    <div part="servererror.reason"></div>
  </ErrorPage>
</server-error>

<style>
  server-error {
    display: contents;
  }
</style>

<script>
  import { stateSignal } from "@/state/signals";
  import { State } from "@/state/state";
  import { PartedElement } from "@xrayman/shared/runtime/dom/parted-element";

  class ServerError extends PartedElement {
    private unsub?: () => void;

    connectedCallback() {
      const reasonSpan = this.pt<HTMLSpanElement>("servererror.reason");

      this.unsub = stateSignal.subscribe((state) => {
        if (state.status === State.ServerError) {
          const i18nReason = `servererror.reason.${state.reason}`;
          reasonSpan.setAttribute("data-i18n", i18nReason);
          return;
        }
      });
    }

    disconnectedCallback() {
      this.unsub?.();
    }
  }

  customElements.define("server-error", ServerError);
</script>
