---
import Title from "@xrayman/shared/astro/components/primitives/Title.astro";
---

<Title class="col-6 mb-2">
  <span data-i18n="title.hello"></span>
  <span data-i18n="title.name.placeholder"></span>
</Title>
