---
interface Props {
  class?: string;
}

const { class: extraClass = "", ...rest } = Astro.props;
---

<dialog class="app-dialog" {...rest}>
  <div class:list={["hv-center", extraClass]}>
    <slot />
  </div>
</dialog>

<style>
  .app-dialog {
    background-color: transparent;
    border: none;
  }
  .app-dialog::backdrop {
    background: rgba(255, 255, 255, 0.5);
  }
</style>
