---
interface Props {
  class?: string;
  "content-class"?: string;
  dynamic?: boolean;
  depth?: string;
  color?: string;
}

const {
  class: extraClass = "",
  "content-class": contentClass = "",
  dynamic = false,
  depth = "0px",
  color = "transparent",
} = Astro.props;

const styleVars = {
  ...(color && { "--surface-color": color }),
  ...(depth && { "--surface-depth": depth }),
};
---

<div class:list={["surface-out", extraClass]} style={styleVars}>
  <div class:list={["surface-in", contentClass, { "surface-dynamic": dynamic }]}>
    <slot />
  </div>
</div>

<style lang="scss">
  @use "../../../styles/shades.scss" as *;

  .surface-in {
    position: relative;
    z-index: 1;

    border-width: 1px;
    border-style: solid;
    border-color: dddarker(var(--surface-color));
    background-color: var(--surface-color);

    color: contrasted(var(--surface-color));
  }

  .surface-out {
    isolation: isolate;
    position: relative;

    padding-right: var(--surface-depth);
    padding-bottom: var(--surface-depth);
  }

  .surface-out::before {
    content: "";
    position: absolute;

    inset: 0;
    margin-left: var(--surface-depth);
    margin-top: var(--surface-depth);

    z-index: 0;

    background-color: dddarker(var(--surface-color));
  }

  .surface-dynamic {
    transition: transform 200ms ease;
  }

  @media (any-hover: hover) {
    .surface-dynamic:hover {
      background-color: darker(var(--surface-color));
      transform: translate(calc(var(--surface-depth) / 2), calc(var(--surface-depth) / 2));
    }
  }

  .surface-dynamic:active {
    background-color: ddarker(var(--surface-color));
    transform: translate(var(--surface-depth), var(--surface-depth));
  }

  :global(.surface-out input) {
    background-color: llllighter(var(--surface-color));
    color: ddddarker(var(--surface-color));
  }

  @media (prefers-reduced-motion: reduce) {
    .surface-dynamic {
      transition: none;
    }
  }
</style>
