---
import Info from "@/astro/components/primitives/Info.astro";
import Input from "../primitives/Input.astro";
import CopyGroup from "../primitives/CopyGroup.astro";
import Card from "../primitives/Card.astro";
import Title from "../primitives/Title.astro";
import Button from "../primitives/Button.astro";
import SuccessMsg from "../primitives/SuccessMsg.astro";
import I18NText from "../primitives/I18nText.astro";
---

<add-node-page class="row w-100 g-0 justify-content-center">
  <Card class="col-6">
    <Title class="col-8">
      <I18NText data-i18n="add-node.title" />
    </Title>

    <Info>
      <I18NText data-i18n="add-node.request.endpoint.info" />
    </Info>

    <Input
      data-part="endpoint-input"
      data-i18n-placeholder="add-node.request.endpoint.placeholder"
    />

    <Info>
      <I18NText data-i18n="add-node.request.accesskey.info" />
    </Info>

    <Input
      data-part="accesskey-input"
      data-i18n-placeholder="add-node.request.accesskey.placeholder"
      class="mb-2"
    />
    <div class="row g-0 justify-content-center">
      <Button data-part="submit-input" class="col-8">
        <I18NText data-i18n="add-node.submit-btn.info" />
      </Button>
    </div>

    <div data-part="success-result" hidden>
      <SuccessMsg class="col-8">
        <I18NText data-i18n="add-node.response.info" />
      </SuccessMsg>
    </div>
  </Card>

  <script>
    import { newNode } from "@/services/api/client";
    import { notifyApiError } from "@/runtime/notifications/errors";
    import { reloadNodes } from "@/actions/nodes";
    import type { DialogPageElement } from "../types/DialogPage";
    import { PartedElement } from "@/runtime/dom/parted-element";

    class AddNodePage extends PartedElement implements DialogPageElement {
      private endpointInputEl!: HTMLInputElement;
      private accesskeyInputEl!: HTMLInputElement;
      private inputSubmitEl!: HTMLButtonElement;
      private successResultEl!: HTMLElement;

      connectedCallback() {
        this.endpointInputEl = this.pt<HTMLInputElement>("endpoint-input");
        this.accesskeyInputEl = this.pt<HTMLInputElement>("accesskey-input");
        this.inputSubmitEl = this.pt<HTMLButtonElement>("submit-input");
        this.successResultEl = this.pt<HTMLElement>("success-result");

        this.inputSubmitEl.onclick = async () => {
          const endpoint = this.endpointInputEl.value;
          const accesskey = this.accesskeyInputEl?.value;
          if (endpoint.length == 0 || accesskey.length == 0) {
            return;
          }

          // reset and hide
          this.successResultEl?.setAttribute("hidden", "true");

          const response = await newNode(endpoint, accesskey);
          if (!response.ok) {
            notifyApiError("new_node", response.reason);
            return;
          }
          reloadNodes({ quiet: true });

          // show back
          this.successResultEl?.removeAttribute("hidden");
        };
      }

      disconnectedCallback() {}

      reset() {
        this.endpointInputEl.value = "";
        this.accesskeyInputEl.value = "";
        this.successResultEl.hidden = true;
      }
    }

    customElements.define("add-node-page", AddNodePage);
  </script>
</add-node-page>
