---
import Info from "@/astro/components/primitives/Info.astro";
import InputGroup from "../primitives/InputGroup.astro";
import CopyGroup from "../primitives/CopyGroup.astro";
import Card from "../primitives/Card.astro";
import Title from "../primitives/Title.astro";
import SuccessMsg from "../primitives/SuccessMsg.astro";
import I18NText from "../primitives/I18nText.astro";
---

<add-user-page class="w-100 d-flex justify-content-center">
  <Card class="col-6">
    <Title class="col-8">
      <I18NText data-i18n="add-user.title" />
    </Title>

    <Info>
      <I18NText data-i18n="add-user.request.name.info" />
    </Info>

    <InputGroup
      inputProps={{
        "data-i18n-placeholder": "add-user.request.name.placeholder",
      }}
      ,
      buttonProps={{
        "data-i18n": "add-user.request.name.button",
      }}
      ,
      data-part="name-input"
    />

    <div data-part="success-result" class="mt-2" hidden>
      <SuccessMsg class="col-8">
        <I18NText data-i18n="add-user.response.info" />
      </SuccessMsg>

      <Info>
        <I18NText data-i18n="add-user.response.userpage.info" />
      </Info>

      <CopyGroup
        buttonProps={{
          "data-i18n": "add-user.response.userpage.copy-button",
        }}
        ,
        data-part="result-userpage"
      />
    </div>
  </Card>
</add-user-page>

<script>
  import { type InputGroupElement } from "@/astro/components/types/InputGroup";
  import { type CopyGroupElement } from "@/astro/components/types/CopyGroup";
  import { newUser } from "@/services/api/client";
  import { notifyApiError } from "@/runtime/notifications/errors";
  import { reloadUsers } from "@/actions/users";
  import type { ResettableElement } from "../types/Resettable";
  import { PartedElement } from "@/runtime/dom/parted-element";

  class AddUserPage extends PartedElement implements ResettableElement {
    private nameInputEl!: InputGroupElement;
    private successResultEl!: HTMLElement;
    private userpageOutputEl!: CopyGroupElement;

    connectedCallback() {
      this.nameInputEl = this.pt<InputGroupElement>("name-input");
      this.successResultEl = this.pt<HTMLElement>("success-result");
      this.userpageOutputEl = this.pt<CopyGroupElement>("result-userpage")!;

      this.nameInputEl.onClick(async (name: string) => {
        if (name.length == 0) {
          return;
        }
        // reset and hide
        this.successResultEl.setAttribute("hidden", "true");
        this.userpageOutputEl.setValue("");

        const response = await newUser(name);
        if (!response.ok) {
          notifyApiError("new_user", response.reason);
          return;
        }
        reloadUsers({ quiet: true });

        // show back
        this.successResultEl.removeAttribute("hidden");
        this.userpageOutputEl.setValue(response.data.Profile.Name);
      });
    }

    disconnectedCallback() {}

    reset() {
      this.nameInputEl.setValue("");
      this.userpageOutputEl.setValue("");
      this.successResultEl.hidden = true;
    }
  }

  customElements.define("add-user-page", AddUserPage);
</script>
