---
import Title from "../primitives/Title.astro";
import Card from "../primitives/Card.astro";
import NodesTable from "@/vue/components/islands/nodes-table/NodesTable.vue";
import AddNodeDialog from "./AddNodeDialog.astro";
import I18NText from "../primitives/I18nText.astro";
---

<Card>
  <Title>
    <I18NText data-i18n="cards.nodes.title" />
  </Title>

  <NodesTable client:only="vue" />

  <AddNodeDialog />
</Card>
