---
import Title from "../primitives/Title.astro";
import Card from "../primitives/Card.astro";
import NodesTable from "@/vue/components/islands/nodes-table/NodesTable.vue";
---

<div class="col-sm-12 col-lg-6">
  <Card>
    <Title class="mb-2">
      <span data-i18n="cards.nodes.title"></span>
    </Title>

    <NodesTable client:only="vue" />
  </Card>
</div>
