---
import HVCenter from "../primitives/HVCenter.astro";
import LGWidth from "../primitives/LGWidth.astro";
import Title from "../primitives/Title.astro";
import Card from "../primitives/Card.astro";
import Info from "../primitives/Info.astro";
import UsersTableCard from "./UsersTableCard.astro";
import NodesTableCard from "./NodesTableCard.astro";
---

<script>
  import { initRandomThemeFeature } from "@/features/random-theme";
  import { updateDOMPalette } from "@/runtime/dom/palette-dom";
  updateDOMPalette();
  initRandomThemeFeature();
</script>

<HVCenter>
  <LGWidth>
    <Title class="mb-2">
      <span data-i18n="title.main"></span>
    </Title>
    <Card>
      <Info>
        <span data-i18n="info.text"></span>
      </Info>
    </Card>

    <div class="row gx-2">
      <UsersTableCard />
      <NodesTableCard />
    </div>
  </LGWidth>
</HVCenter>
