---
import PageCenter from "../primitives/PageCenter.astro";
import LGWidth from "../primitives/LGWidth.astro";
import Title from "../primitives/Title.astro";
import Button from "../primitives/Button.astro";
import Card from "../primitives/Card.astro";
import Info from "../primitives/Info.astro";
import Input from "../primitives/Input.astro";
import UsersTableCard from "./UsersTableCard.astro";
import NodesTableCard from "./NodesTableCard.astro";
import InputGroup from "../primitives/InputGroup.astro";
//import NameInput from "./NameInput.astro";
import Surface from "../primitives/Surface.astro";
import Box from "../primitives/Box.astro";
import AddUserPage from "./AddUserPage.astro";
import AddNodePage from "./AddNodePage.astro";
import AddNodeDialog from "./AddNodeDialog.astro";
---

<script>
  import { initRandomThemeFeature } from "@/features/random-theme";
  import { updateDOMPalette } from "@/runtime/dom/palette-dom";
  updateDOMPalette();
  initRandomThemeFeature();
</script>

<PageCenter>
  <LGWidth>
    <Title outClass="col-6 mb-2">
      <span data-i18n="title.main"></span>
    </Title>

    <div class="row gx-2">
      <UsersTableCard />
      <NodesTableCard />
    </div>
  </LGWidth>
</PageCenter>
