---
import PageCenter from "../primitives/PageCenter.astro";
import Title from "../primitives/Title.astro";
import UsersTableCard from "./UsersTableCard.astro";
import NodesTableCard from "./NodesTableCard.astro";
import I18NText from "../primitives/I18nText.astro";
import AuthDialog from "./AuthDialog.astro";
---

<script>
  import { initRandomThemeFeature } from "@/features/random-theme";
  import { updateDOMPalette } from "@/runtime/dom/palette-dom";
  updateDOMPalette();
  initRandomThemeFeature();
</script>

<AuthDialog />
<PageCenter class="col-12 col-xl-10">
  <Title class="col-6 mb-2">
    <I18NText data-i18n="title.main" />
  </Title>

  <div class="row gx-2 justify-content-center">
    <UsersTableCard />
    <NodesTableCard />
  </div>
</PageCenter>
