---
import Title from "../primitives/Title.astro";
import Card from "../primitives/Card.astro";
import UsersTable from "@/vue/components/islands/users-table/UsersTable.vue";
---

<div class="col-sm-12 col-lg-6">
  <Card>
    <Title class="mb-2">
      <span data-i18n="cards.users.title"></span>
    </Title>

    <UsersTable client:only="vue" />
  </Card>
</div>
