---
import Title from "../primitives/Title.astro";
import Card from "../primitives/Card.astro";
import UsersTable from "@/vue/components/islands/users-table/UsersTable.vue";
import AddUserDialog from "./AddUserDialog.astro";
import I18NText from "../primitives/I18nText.astro";
---

<Card>
  <Title>
    <I18NText data-i18n="cards.users.title" />
  </Title>

  <UsersTable client:only="vue" />

  <AddUserDialog />
</Card>
