@function darker($color) {
  @return color-mix(in srgb, $color 87.5%, black 12.5%);
}
@function ddarker($color) {
  @return color-mix(in srgb, $color 75%, black 25%);
}
@function dddarker($color) {
  @return color-mix(in srgb, $color 50%, black 50%);
}
@function ddddarker($color) {
  @return color-mix(in srgb, $color 25%, black 75%);
}
@function lighter($color) {
  @return color-mix(in srgb, $color 87.5%, white 12.5%);
}
@function llighter($color) {
  @return color-mix(in srgb, $color 75%, white 25%);
}
@function lllighter($color) {
  @return color-mix(in srgb, $color 50%, white 50%);
}
@function llllighter($color) {
  @return color-mix(in srgb, $color 25%, white 75%);
}
@function contrasted($color) {
  $contrasted: lch(from $color calc((50 - l) * infinity) 0 0);
  @return color-mix(in srgb, $color 25%, $contrasted 75%);
}

.surface {
  position: relative;
  z-index: 1;

  border-width: 1px;
  border-style: solid;
  border-color: dddarker(var(--surface-color));
  background-color: var(--surface-color);

  --contrast-color: lch(
    from var(--surface-color) calc((49.44 - l) * infinity) 0 0
  );
  color: contrasted(var(--surface-color));
}

.surface__wrap {
  isolation: isolate;
  position: relative;

  padding-left: 0;
  padding-right: var(--surface-depth);
  padding-bottom: var(--surface-depth);
}

.surface__wrap::before {
  content: "";
  position: absolute;

  inset: 0;
  margin-left: var(--surface-depth);
  margin-top: var(--surface-depth);

  z-index: 0;

  background-color: dddarker(var(--surface-color));
}

.surface--dynamic {
  transition: transform 200ms ease;
}

@media (any-hover: hover) {
  .surface--dynamic:hover {
    background-color: darker(var(--surface-color));
    transform: translate(
      calc(var(--surface-depth) / 2),
      calc(var(--surface-depth) / 2)
    );
  }
}

.surface--dynamic:active {
  background-color: ddarker(var(--surface-color));
  transform: translate(var(--surface-depth), var(--surface-depth));
}

:global(.surface input) {
  background-color: llllighter(var(--surface-color));
  color: ddddarker(var(--surface-color));
}

@media (prefers-reduced-motion: reduce) {
  .surface--dynamic {
    transition: none;
  }
}
