/* colors */
:root {
  --bg-color: transparent;
  --card-color: transparent;
  --title-color: transparent;
  --button-color: transparent;
  --input-color: transparent;
  --table-color: transparent; /* not used in astro */
}

/* surface depths */
:root {
  --title-depth: 4px;
  --card-depth: 4px;
  --input-depth: 4px;
  --button-depth: 4px;
  --error-depth: 4px;
}

/* typography */
:root {
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}
