---
import Button from "@xrayman/shared/astro/primitives/Button.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
---

<share-button>
  <div class="row g-0 justify-content-center">
    <Button data-part="share-btn" class="col-6 col-lg-4">
      <I18NText data-i18n="share.button" />
    </Button>
  </div>
</share-button>

<script>
  import { PartedElement } from "@xrayman/shared/runtime/dom/parted-element";
  import { ShareViaTG } from "@xrayman/shared/features/sharing";
  import { MakePageUrl } from "@/runtime/utils/paths";
  import { t } from "@/runtime/i18n";

  class ShareBtn extends PartedElement {
    private unsub?: () => void;

    connectedCallback() {
      const btnEl = this.pt<HTMLButtonElement>("share-btn");

      btnEl.onclick = () => {
        const url = MakePageUrl("");
        const text = t("share.button.sharedtext");
        ShareViaTG(url, text);
      };
    }

    disconnectedCallback() {
      this.unsub?.();
    }
  }

  customElements.define("share-button", ShareBtn);
</script>
