---
import SharePage from "./SharePage.astro";
import ButtonDialog from "@xrayman/shared/astro/primitives/ButtonDialog.astro";
import I18NText from "@xrayman/shared/astro/primitives/I18nText.astro";
---

<div class="invisible-card h-center m-2">
  <ButtonDialog class="fluid-lg h-center" content-class="col-6">
    <I18NText slot="button" data-i18n="share.button.text" />
    <SharePage slot="page" />
  </ButtonDialog>
</div>

<style>
  .invisible-card {
    padding-right: var(--card-depth);
  }
</style>
